body {
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    justify-content: center;
}

#sketch {
    display: flex;
    width: 640px;
    height: 640px;
    background-color: black;
    box-sizing: border-box;
}

.column {
    flex: 1; /* <--- required (style column to fill the same space as the other columns) */
    border: 1px solid black;
    margin: 0%;
    box-sizing: border-box;

}

.row {
    text-align: center;
    border: 1px solid black;
    background-color: grey;
    margin: 0%;
    box-sizing: border-box;
}


